# Virtualenv stuff
/bin
/lib
/include
/local
/man
/pyvenv.cfg
/pip-selfcheck.json

# Built products
/docs/_build
/build
/dist
*.egg-info

# Junk
.Python
.DS_Store
._*
*.swp
*.pyc

# User configuration
*.sublime-workspace
/halonctl.json
